body{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #D4D0B4;
}
h1{
    background-color: #626b5e;
    font-size: 1em;
    color: #F4F6F5;
    line-height:2em;
    text-align: center;
}

#newTaskInput, #addNewTask{
    display: block;
    width: 98%;
    margin: 5px auto 0;
    background-color: #757769;
    border: 0;
    height: 2em;
    font-size: 1em;
    color: #F5F6f5;
}
#newTaskInput{
    background-color: #fff;
    color: #000;
}
#taskList{
    margin-top: 10px;
}
#taskList > li{
    background: -webkit-linear-gradient(#fff, #f6f6f7);
    background: -o-linear-gradient(#fff, #f6f6f7);
    background: -moz-linear-gradient(#fff, #f6f6f7);
    background: linear-gradient(#fff, #f6f6f7);
    width: 98%;
    border: 1px solid #88B6AF;
    line-height: 2em;
    margin: 0 auto 5px;
}
#taskList span{
    margin-left: 5px;
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}